{% extends "app.twig" %}
{% import "components/form.twig" as form %}
{% set title = "Войти в аккаунт" %}

{% block content %}

    <form id="SigninForm" method="GET" action="/accounts/jwt" ajax>
        {{ form.input("InputEmail", "email", "Почта", "email") }}
        {{ form.input("InputPassword", "password", "Пароль", "password") }}
        <p class="error" id="SigninError">Не удалось войти в аккаунт</p>
        {{ form.submit("Войти") }}
    </form>
    <a href="/create-account" style="margin-top: 2.5px;">Создать аккаунт</a>

{% endblock %}

{% block script %}
    <script src="assets/script/pages/sign-in-account.js"></script>
{% endblock %}